@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ccc;
}

main {
    min-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
}

section {
    width: 960px;
    margin: 0 auto;
}

h1, section, article {
    margin-bottom: 1rem;
}

h2{
    margin-bottom: 1rem;
    color: black;
}

p{
    margin-bottom: 2rem;
    font-size: 20px;
}

article{
    margin-bottom: 2rem;
}

#botoes {
    display: inline-block;
    margin-bottom: 1rem;
}

/* botoes */
button {
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 0.625rem;
    cursor: pointer;
    background-color: black;
}

/* botao fogo */
#btfogo {
    background: #dd0000;
    color: #121212;
}

/* botao agua */
#btagua {
    background-color: #0034df;
    color: #fff;
}

/* botao planta */
#btplanta {
    background: #00d60b;
    color: #fff;
}

/* botao eletrico */
#bteletrico {
    background: #d8d400;
    color: #fff;
}

/* botao psiquico */
#btpsiquico {
    background: rgb(202, 0, 51);
    color: #fff;
}

/* articles com a class box */
.box {
    padding: 0.625rem;
    border-radius: 8px;
}

/* Estilos para serem usados via JS */
.fogo{
    background: #b40000;
    color: #fff;
}

.agua {
    background: #062ba7;
    color: #fff;
}

.planta {
    background: #00b109;
    color: #fff;
}

.eletrico {
    background: #b9b600;
    color: #fff;
}

.psiquico {
    background: #c52c73;
    color: #fff;
}

.escura {
    background: #333;
    color: #fff;
    border-radius: 5px;
    padding: 0.625rem;
}

.tela-principal{
    text-align: center;
}