body{
    text-align: center;
    background-color: black;
}

h1{
    padding-bottom: 5px;
}

.numeros{
    flex-direction: column;
    display: flex;
    background-color: white; 
    padding: 1.25%;
    margin: 2%; 
    border-radius: 20PX;
    margin: 0 20%;
}

.botoes{
    padding-top: 15%;
    flex-direction: column;
    display: flex;
    background-color: white; 
    padding: 1.25%;
    margin: 2%; 
    border-radius: 20PX;
    margin: 0 25%;
}

#resultado{
    padding-top: 20px;
}

p{
    font-size: 20px;
}
