
body{

    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calc{
    width: 600px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input, button{
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}

button{
    background-color: darkred;
}