header,
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 280px;
}

button{
    width: 90px;
}

#ligar{
    background-color: lawngreen
}

#desligar{
    background-color: red;
}
